doctype html
html
  head
    title= title    
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body

    block content
         .main.container
           .row
             .col-md-6.col-md-offset-3
               h1 Inquiry
               div.alert.alert-primary #{msg}
               a(href=host+'inquires/') View Inquires


         script(src='/javascripts/jquery-3.4.1.min.js')
         script(src='/javascripts/bootstrap.min.js')
         script(src='/javascripts/utils.js')
