body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.inline {
    display: inline;

}

input[type=checkbox]{
    width: 23px;
    height: 18px;
    position: relative;
    top: 3px;
}
